h1,
a {
    text-align: center;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0px;
}

.title {
    margin-top: 50px;
    margin-bottom: 25px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 300px;
    margin-top: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

div {
    text-align: center;
}

div ul {
    display: inline-block;
    text-align: left;
    list-style: none;
}

.home-list {
    display: inline-block;
}

button {
    padding: .5em;
    background-color: transparent;
    color: black;
    border-style: 1px black;
}

.links-list a {
    border-style: solid;
    text-decoration: none;
    padding: 1em 2em;
    margin: 10px;
    display: inline-block;
}

button:hover,
.center a:hover,
.links-list a:hover {
    background-color: whitesmoke;
} 

a:visited,
a:link {
    text-decoration: none;
    color: black;
}